<!-- templates/inventory/transaction_list.html -->
{% extends 'base_dashboard.html' %}

{% block title %}Consulta de Inventario{% endblock %}

{% load custom_tags %}

{% block content %}
    <div class="mb-3">
        <h2 class="title is-4">Consulta de Movimientos</h2>
    </div>

    <!-- Formulario de búsqueda -->
    <form method="get" action="{% url 'transaction_list' %}" class="box">

        <div class="columns">

            <div class="column">
                <label class="label">Tipo movimiento</label>
                <div class="select">
                    <select name="transaction_type">
                        <option value="" disabled selected>Seleccione</option>
                        <option value="income">Ingresos</option>
                        <option value="outcome">Egresos</option>
                    </select>
                </div>
            </div>

            <div class="column">
                <label class="label">Desde fecha</label>
                <input class="input" type="date" name="from_date" value="{{ request.GET.product_name }}">
            </div>

            <div class="column">
                <label class="label">Hasta fecha</label>
                <input class="input" type="date" name="to_date" value="{{ request.GET.product_name }}">
            </div>

            <div class="control column">
                <label class="label">Accción</label>
                <button type="submit" class="button is-primary">Buscar</button>
            </div>

        </div>

    </form>

<h3 class="title is-5">
    Listado de
    {% if transaction_type == "income" %}
        Ingresos
    {% elif transaction_type == "outcome" %}
        Egresos
    {% endif %}
    {% if from_date %}
        - Desde: {{ from_date|date:"d-m-Y" }}
    {% endif %}
    {% if to_date %}
        - Hasta: {{ to_date|date:"d-m-Y" }}
    {% endif %}
</h3>

<!-- Resultados de la búsqueda -->
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Fecha Mov.</th>
            <th>Producto</th>
            <th></th>
            <th></th>
            <th>Cantidad</th>
            <th>Ubicación</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date_time|date:"d/m/Y" }}</td>

                {% if transaction|is_instance:"Income" %}
                    <td>{{ transaction.product.name }}</td>
                    <td>{{ transaction.product.model }}</td>
                    <td>{{ transaction.product.serial_number }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.location.name }}</td>
                {% elif transaction|is_instance:"Outcome" %}
                    <td>{{ transaction.inventory.product.name }}</td>
                    <td>{{ transaction.inventory.product.model }}</td>
                    <td>{{ transaction.inventory.product.serial_number }}</td>
                    <td>{{ transaction.qty }}</td>
                    <td>{{ transaction.inventory.location.name }}</td>
                {% endif %}

                <td>{{ transaction.comment }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No se encontraron movimientos en el rango de fechas seleccionado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}